<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReportSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReportSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ReportSync.Properties.Settings>
            <setting name="ReportSync_neo026_ReportingService2005" serializeAs="String">
                <value>http://NEO026:8080/ReportServer/ReportService2005.asmx</value>
            </setting>
        </ReportSync.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ReportSync.Properties.Settings>
            <setting name="SourceUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceUser" serializeAs="String">
                <value>Administrator</value>
            </setting>
            <setting name="SourcePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DestUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="DestUser" serializeAs="String">
                <value>Administrator</value>
            </setting>
            <setting name="DestPassword" serializeAs="String">
                <value />
            </setting>
        </ReportSync.Properties.Settings>
    </userSettings>
</configuration>